---
layout: default
---

<div class="home">

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <section>
    <h3>Current Status</h3>
    <ul>
      <li><b>Graduate student</b> at <b><a href="https://rtclskku.github.io/website/index.html">RTCL</a></b>(Real Time Computing Lab) of Sungkyunkwan University</li>
    </ul>
  </section>
  <br>
  <br>
  <section>
    <h3>Publication</h3>
    <ul>
      <li><b><a href="http://2022.rtss.org/">[RTSS 2022]</a> "Response Time Analysis for Real-Time Global Gang Scheduling"</b>, The 43rd IEEE Real-Time Systems Symposium (RTSS), Houston, USA, December 2022</li>
      <ul>
        <li><font size="3em">Seongtae Lee, <b>Seunghoon Lee</b>, and Jinkyu Lee</font></li>
      </ul>
      <li><b><a href="http://2022.rtss.org/">[RTSS 2022]</a> "RT-MOT: Confidence-Aware Real-Time Scheduling Framework for Multi-Object Tracking Tasks"</b>, The 43rd IEEE Real-Time Systems Symposium (RTSS), Houston, USA, December 2022</li>
      <ul>
        <li><font size="3em">Donghwa Kang, <b>Seunghoon Lee</b>, Hoon Sung Chwa, Seung-Hwan Bae, Chang Mook Kang, Jinkyu Lee and Hyeongboo Baek</font></li>
      </ul>
      <li><b><a href="http://2021.rtas.org/">[RTAS 2021]</a> "ML for RT: Priority Assignment Using Machine Learning"</b>, The 27th IEEE Real-Time and Embedded Technology and Applications Symposium (RTAS), Virtual, May 2021</li>
      <ul>
        <li><font size="3em"><b>Seunghoon Lee</b>, Hyeongboo Baek, Honguk Woo, Kang G. Shin, and Jinkyu Lee</font></li>
      </ul>
    </ul>
  </section>
  <br>
  <br>
  <section>
    <h3>Education</h3>
    <ul>
      <li><b>M.S.</b>: Computing Science and Engineering, Sungkyunkwan University, South Korea, 2022</li>
      <li><b>B.S.</b>: Computing Engineering, Sungkyunkwan University, South Korea, 2021</li>
      <li><b>B.Ec.</b>: Economics, Sungkyunkwan University, South Korea, 2021</li>
    </ul>
  </section>
  <br>
  <br>
  <section>
    <h3>Teaching Experience</h3>
    <ul>
      <li><b>Autumn 2022</b>: Teaching Assistant, SWE2015 Data Structures, Prof.Ikjun Yeom</li>
      <li><b>Autumn 2022</b>: Teaching Assistant, SWE3022 Computer Networks, Prof.Ikjun Yeom</li>
      <li><b>Spring 2022</b>: Teaching Assistant, ICE3037 Capstone Design, Prof.Jinkyu Lee</li>
      <li><b>Spring 2022</b>: Teaching Assistant, GEDT019 Computer Programming for Engineers, Prof.Kwok Hung(Arthur) Tang</li>
      <li><b>Autumn 2021</b>: Teaching Assistant, SWE2021 Open Source Software Practice, Prof.Jaemin Jo</li>
      <li><b>Autumn 2021</b>: Teaching Assistant, SWE2015 Data Structures, Prof.Jinkyu Lee</li>
      <li><b>Autumn 2021</b>: Teaching Assistant, GEDT019 Computer Programming for Engineers, Prof.Kwok Hung(Arthur) Tang</li>
      <li><b>Summer 2021</b>: Teaching Assistant, ISS3178 Algorithm and Problem Solving, Prof.Kwok Hung(Arthur) Tang</li>
      <li><b>Summer 2021</b>: Teaching Assistant, ISS3183 Human Computer Interaction, Prof.Kwok Hung(Arthur) Tang</li>
      <li><b>Spring 2021</b>: Teaching Assistant, ICE3037 Capstone Design, Prof.Jinkyu Lee</li>
      <li><b>Spring 2021</b>: Teaching Assistant, DASF004 Basis and Practice in Programming, Prof.Kwok Hung(Arthur) Tang</li>
      <li><b>Spring 2021</b>: Teaching Assistant, GEDT018 Computer Programming for Engineers, Prof.Kwok Hung(Arthur) Tang</li>
    </ul>
  </section>

  {%- if jekyll.environment == "production" and site.disqus -%}
    <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
  {%- endif -%}
</div>
